<div class="container">

  <div class="alert alert-primary" role="alert" *ngIf="clicou">
      Seu nome é {{nome}}
  </div>
  <div class="form-group">
      <label>Nome</label>
      <input (focus)="clicou=false" type="text" class="form-control" #nomeInput>
  </div>
  <!-- <app-datepicker-popup (minhaData)="mostraData($event)"></app-datepicker-popup> -->
  <button type="button" class="btn btn-primary" (click)="salvar(nomeInput.value)">Salvar</button>

  <div class="row" style="margin-top: 1em;">
    <div class="col-2" *ngFor="let pessoa of pessoas">
      <app-pessoa-card [pessoa]="pessoa"></app-pessoa-card>
    </div>
  </div>

</div>