<h2>List Users</h2>

<table class="table table-dark table-hover">
  
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Login</th>
      <th scope="col">E-mail</th>
      <th scope="col">Password</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let u of users">
      <th scope="row">{{u._id}}</th>
      <td>{{u.firstName}}</td>
      <td>{{u.login}}</td>
      <td>{{u.email}}</td>
      <td>{{u.password}}</td>
      <td align="right">
        <button class="btn btn-primary" (click)="edit(u._id)">Edit</button>
        <button class="btn btn-danger ml-3" (click)="delete(u._id)">Del</button>
      </td>
    </tr>
  </tbody>

</table>
