  <div class="card">
    <div class="card-body">
      <img src="https://randomuser.me/api/portraits/men/1.jpg" class="mr-3 card-img-top">
      <hr />
      <label>Michel de Melo Vieira</label>
      <hr />
      <ul class="list-group">
        <button class="list-group-item list-group-item-action list-group-item-secondary">Amigos</button>
        <button class="list-group-item list-group-item-action list-group-item-secondary" (click)="perfil()">Perfil</button>
        <button class="list-group-item list-group-item-action list-group-item-secondary">Recados</button>
        <button class="list-group-item list-group-item-action list-group-item-secondary">Fotos</button>
        <button class="list-group-item list-group-item-action list-group-item-secondary">Videos</button>
      </ul>
    </div>
  </div>