<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink='/register/user'>Register</a>
    <a class="nav-item nav-link" routerLink='/list/user'>List</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <!-- <app-register-user></app-register-user> -->
        <!-- <app-list-users></app-list-users> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>