table{
    font-size: 13px;
    font-variant-caps: small-caps;
    
}

.container img {
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    margin-top: 3px;
}

.container_amigos{
    max-width: 50%; 
    float: left;
}

.redirect{
    font-size: 13px;
    float: right;
    color: darkblue;
}