<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <app-coluna-perfil></app-coluna-perfil>
      </div>
      <div class="col-sm-7">
        <div class="card">
          <div class="card-body">
            Michel de Melo Vieira
            <hr />
              <table class="table table-sm table-borderless">
                <thead>
                  <tr>
                    <th>Recados</th>
                    <th>Fotos</th>
                    <th>Videos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="oi oi-pencil"> 5</span></td>
                    <td><span class="oi oi-image"> 8</span></td>
                    <td><span class="oi oi-video"> 0</span></td>
                  </tr>
                </tbody>
              </table>
            <hr />
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6>Proximos Aniversarios</h6>
            <div >
              <div class="card container_amigos" align="center" *ngFor="let ani of proximosAni">
                <img src="{{ani.avatar}}" class="card-img-top">
                <label class="card-title">{{ani.nome}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-3">
          <app-coluna-amigos-comunidades></app-coluna-amigos-comunidades>
      </div>
    </div>
  </div>
</div>