<div class="container">
  <div class="form-group" style="margin-top: 0.5em">
    <label>Nome</label>
    <input type="text" class="form-control" #nomeInput>
  </div>
  <button class="btn btn-primary" 
    (click)="adicionar(nomeInput.value);nomeInput.value=''">Adicionar</button>
  <hr>
  <div class="row">
    <div class="col-2">ID</div>
    <div class="col-8">Nome</div>
    <div class="col-2">Ações</div>
  </div>
  <hr>

  <div class="row mt-2" 
       *ngFor="let a of alunos">
    <div class="col-2">{{a.id}}</div>
    <div class="col-8">
      <input type="text" value="{{a.nome}}" class="form-control" #nomeUpdate>
    </div>
    <div class="col-2">

      <div class="row">
        <div class="col-6">
            <button class="btn btn-primary"
            (click)="a.nome=nomeUpdate.value;atualizar(a)"
            >Atualizar</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger" (click)="excluir(a.id)">Excluir</button>
        </div>
      </div>

    </div>
  </div>

  
</div>
