  <div class="card">
    <div class="card-body">
      Michel de Melo Vieira
      <hr />
      <div>
        <table class="table table-sm table-borderless">
          <thead>
            <tr>
              <th>Recados</th>
              <th>Fotos</th>
              <th>Videos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="oi oi-pencil"> 5</span></td>
              <td><span class="oi oi-image"> 8</span></td>
              <td><span class="oi oi-video"> 0</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <label class="badge badge-primary text-wrap" style="width: 6rem;">Social</label>
      <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Relacionemento:</th>
                <td scope="col">Solteiro</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col">Aniversario:</th>
                <td scope="col">25 Abril</td>
              </tr>
              <tr>
                <th scope="col">Idade:</th>
                <td scope="col">22</td>
              </tr>
              <tr>
                <th scope="col">Quem sou eu:</th>
                <td scope="col" style="max-width: 35em">Eu sou eu</td>
              </tr>
              <tr>
                <th scope="col">Filhos:</th>
                <td scope="col">Nao</td>
              </tr>
              <tr>
                <th scope="col">Etinia:</th>
                <td scope="col">Branco</td>
              </tr>
              <tr>
                <th scope="col">Fuma:</th>
                <td scope="col">Nao</td>
              </tr>
              <tr>
                <th scope="col">Orientacao sexual:</th>
                <td scope="col">Hetero</td>
              </tr>
              <tr>
                <th scope="col">Cidade atual:</th>
                <td scope="col">Quixada</td>
              </tr>
              <tr>
                <th scope="col">Cidade de nascimento:</th>
                <td scope="col">Jaguaribe</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>