
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <img src="https://randomuser.me/api/portraits/men/1.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <app-post-user></app-post-user>
                <app-lista-posts-user></app-lista-posts-user>
            </div>
        </div>
    </div>
</div>