<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <img src="https://randomuser.me/api/portraits/men/1.jpg" class="mr-3 card-img-top">
                        <hr />
                        <label>Michel de Melo Vieira</label>
                        <hr />
                        <ul class="list-group">
                            <a class="list-group-item list-group-item-action list-group-item-secondary">Amigos</a>
                            <a class="list-group-item list-group-item-action list-group-item-secondary">Perfil</a>
                            <a class="list-group-item list-group-item-action list-group-item-secondary">Recados</a>
                            <a class="list-group-item list-group-item-action list-group-item-secondary">Fotos</a>
                            <a class="list-group-item list-group-item-action list-group-item-secondary">Videos</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-1">
                <app-post-user></app-post-user>
                <app-lista-posts-user></app-lista-posts-user>
            </div>
        </div>
    </div>
</div>