<div class="row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Meus Amigos (50)</h5>
      <div class="container">
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/2.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/3.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/4.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/5.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <button type="button" class="btn btn-link redirect">Ver mais amigos ></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Minhas Comunidades (50)</h5>
      <div class="container">
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/2.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/3.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/4.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <div class="card container_amigos" align="center">
          <img src="https://randomuser.me/api/portraits/men/5.jpg" class="card-img-top">
          <label class="card-title">Pedro</label>
        </div>
        <button type="button" class="btn btn-link redirect">Ver mais comunidades ></button>
      </div>
    </div>
  </div>
</div>