<div class="container">

    <!-- <app-pessoa-form (pessoaSalva)="salvarPessoa($event)"></app-pessoa-form>

    <div class="row">
        <div class="col-2" *ngFor="let pessoa of pessoas">
            <app-pessoa-card [objPessoa]="pessoa"></app-pessoa-card>
        </div>
        

    </div> -->
    <app-linha-do-tempo></app-linha-do-tempo>

    
</div>
<footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">
            <h6>Alexya Calixto, 388902</h6>
            <h6>Lucas Silva, 377843</h6>
            <h6>Michel de Melo, 389959</h6>
        </div>
</footer>
